* {
  font-family: 'Games', sans-serif;
}

h1 {
  font-size: 64px;
}

header {
  color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: black;
}

footer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  /*
  height: 500px;
  width: 1500px;
  border: 1px solid black;
  float: center;
  margin: 20px;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 4px;
  */
}

.ball {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 10px;

}

.hideBalls {
  display: none;
}

#playArea {
  position: relative;
  border: 10px solid black;
  /*animation-timing-function: linear;
  animation-iteration-count: infinite; */
  height: 500px;
}

.gameOn .ball {
  /* animation: upAndDown 4.5s, leftAndRight 5s; */
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
  /* do not overide */
}

.majority {
  background-color: red;
}

.minority {
  background-color: green;

}

@keyframes upAndDown {
  0% {
    bottom: 0;
  }

  50% {
    bottom: calc(100% - 40px);
  }

  100% {
    bottom: 0;
  }
}

@keyframes leftAndRight {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 40px);
  }

  100% {
    left: 0;
  }
}

/*

@keyframes moveX {
  from { left: 0; } to { left: 480px; }
}

@keyframes moveY {
  from { top: 0; } to { top: 280px; }
}

animation: moveX 3s linear 0s infinite alternate;
moveY 3.4s linear 0s infinite alternate;